resources/skins/Default/720p/schema/xwindow.dtd

<?xml encoding="UTF-8"?>

<!ELEMENT window (onload+,onunload+,defaultcontrol,allowoverlay,backgroundcolor,views,visible,animation+,zorder,
                  coordinates,previouswindow,controls)>
<!ATTLIST window
    xmlns CDATA #FIXED ''>

<!ELEMENT onload (#PCDATA)>
<!ATTLIST onload
    xmlns CDATA #FIXED ''>

<!ELEMENT onunload (#PCDATA)>
<!ATTLIST onunload
    xmlns CDATA #FIXED ''>

<!ELEMENT allowoverlay (#PCDATA)>
<!ATTLIST allowoverlay
    xmlns CDATA #FIXED ''>

<!ELEMENT backgroundcolor (#PCDATA)>
<!ATTLIST backgroundcolor
    xmlns CDATA #FIXED ''>

<!ELEMENT views (#PCDATA)>
<!ATTLIST views
    xmlns CDATA #FIXED ''>

<!ELEMENT zorder (#PCDATA)>
<!ATTLIST zorder
    xmlns CDATA #FIXED ''>

<!ELEMENT coordinates (posx,posy,origin)>
<!ATTLIST coordinates
    xmlns CDATA #FIXED ''>

<!ELEMENT previouswindow (#PCDATA)>
<!ATTLIST previouswindow
    xmlns CDATA #FIXED ''>

<!ELEMENT controls (control)+>
<!ATTLIST controls
    xmlns CDATA #FIXED ''>

<!ELEMENT origin (#PCDATA)>
<!ATTLIST origin
    xmlns CDATA #FIXED ''
    x CDATA #REQUIRED
    y CDATA #REQUIRED>

<!ELEMENT control ((animation|posx|posy|visible|camera|colordiffuse|description|height|id|type|width)*,
                   (onup,ondown,onleft,onright,hitrect,pulseonselect)?,(sliderwidth,sliderheight)?,itemgap?,reveal?,
                   defaultcontrol?,texturesliderbackground?,texturesliderbar?,
                   (viewtype|(texturesliderbarfocus,texturesliderbarnib,texturesliderbarnibfocus))?,orientation?,
                   showonepage?,(texturefocus,texturenofocus)?,
                   ((textureradioon,textureradiooff)|(textureup,textureupfocus,texturedown,texturedownfocus)
                    |(alttexturefocus,alttexturenofocus,usealttexture))?,
                   texturebg?,(textureleft,textureleftfocus,textureright,texturerightfocus)?,
                   (textureslidernib,textureslidernibfocus)?,
                   (imagepath|(lefttexture,righttexture,overlaytexture)|(controloffsetx,controloffsety))?,
                   (align|aligny|angle|aspectratio|bordersize|bordertexture|disabledcolor|fadetime|focusedcolor|font
                    |haspath|hinttext|info|label|loop|number|onclick|pauseatend|scroll|scrollout|selected|shadowcolor
                    |subtype|textcolor|textoffsetx|textoffsety|texture|textwidth|timeperimage)*,
                   (resetonlabelchange|wrapmultiline|(highlightcolor,titlecolor))?,scrollspeed?,scrollsuffix?,
                   pagecontrol?,autoscroll?,scrolltime?,focusposition?,usecontrolcoords?,
                   (itemlayout,focusedlayout,content)?,(action|preloaditems)?,
                   (radioposx,radioposy,radiowidth,radioheight)?,(onfocus+,onunfocus+)?)>
<!ATTLIST control
    xmlns CDATA #FIXED ''
    id CDATA #REQUIRED
    type CDATA #REQUIRED>

<!ELEMENT camera EMPTY>
<!ATTLIST camera
    xmlns CDATA #FIXED ''>

<!ELEMENT colordiffuse EMPTY>
<!ATTLIST colordiffuse
    xmlns CDATA #FIXED ''>

<!ELEMENT description EMPTY>
<!ATTLIST description
    xmlns CDATA #FIXED ''>

<!ELEMENT height EMPTY>
<!ATTLIST height
    xmlns CDATA #FIXED ''>

<!ELEMENT id EMPTY>
<!ATTLIST id
    xmlns CDATA #FIXED ''>

<!ELEMENT type EMPTY>
<!ATTLIST type
    xmlns CDATA #FIXED ''>

<!ELEMENT width EMPTY>
<!ATTLIST width
    xmlns CDATA #FIXED ''>

<!ELEMENT onup EMPTY>
<!ATTLIST onup
    xmlns CDATA #FIXED ''>

<!ELEMENT ondown EMPTY>
<!ATTLIST ondown
    xmlns CDATA #FIXED ''>

<!ELEMENT onleft EMPTY>
<!ATTLIST onleft
    xmlns CDATA #FIXED ''>

<!ELEMENT onright EMPTY>
<!ATTLIST onright
    xmlns CDATA #FIXED ''>

<!ELEMENT hitrect EMPTY>
<!ATTLIST hitrect
    xmlns CDATA #FIXED ''>

<!ELEMENT pulseonselect EMPTY>
<!ATTLIST pulseonselect
    xmlns CDATA #FIXED ''>

<!ELEMENT sliderwidth EMPTY>
<!ATTLIST sliderwidth
    xmlns CDATA #FIXED ''>

<!ELEMENT sliderheight EMPTY>
<!ATTLIST sliderheight
    xmlns CDATA #FIXED ''>

<!ELEMENT itemgap EMPTY>
<!ATTLIST itemgap
    xmlns CDATA #FIXED ''>

<!ELEMENT reveal EMPTY>
<!ATTLIST reveal
    xmlns CDATA #FIXED ''>

<!ELEMENT texturesliderbackground EMPTY>
<!ATTLIST texturesliderbackground
    xmlns CDATA #FIXED ''>

<!ELEMENT texturesliderbar EMPTY>
<!ATTLIST texturesliderbar
    xmlns CDATA #FIXED ''>

<!ELEMENT viewtype EMPTY>
<!ATTLIST viewtype
    xmlns CDATA #FIXED ''>

<!ELEMENT texturesliderbarfocus EMPTY>
<!ATTLIST texturesliderbarfocus
    xmlns CDATA #FIXED ''>

<!ELEMENT texturesliderbarnib EMPTY>
<!ATTLIST texturesliderbarnib
    xmlns CDATA #FIXED ''>

<!ELEMENT texturesliderbarnibfocus EMPTY>
<!ATTLIST texturesliderbarnibfocus
    xmlns CDATA #FIXED ''>

<!ELEMENT orientation EMPTY>
<!ATTLIST orientation
    xmlns CDATA #FIXED ''>

<!ELEMENT showonepage EMPTY>
<!ATTLIST showonepage
    xmlns CDATA #FIXED ''>

<!ELEMENT texturefocus EMPTY>
<!ATTLIST texturefocus
    xmlns CDATA #FIXED ''>

<!ELEMENT texturenofocus EMPTY>
<!ATTLIST texturenofocus
    xmlns CDATA #FIXED ''>

<!ELEMENT textureradioon EMPTY>
<!ATTLIST textureradioon
    xmlns CDATA #FIXED ''>

<!ELEMENT textureradiooff EMPTY>
<!ATTLIST textureradiooff
    xmlns CDATA #FIXED ''>

<!ELEMENT textureup EMPTY>
<!ATTLIST textureup
    xmlns CDATA #FIXED ''>

<!ELEMENT textureupfocus EMPTY>
<!ATTLIST textureupfocus
    xmlns CDATA #FIXED ''>

<!ELEMENT texturedown EMPTY>
<!ATTLIST texturedown
    xmlns CDATA #FIXED ''>

<!ELEMENT texturedownfocus EMPTY>
<!ATTLIST texturedownfocus
    xmlns CDATA #FIXED ''>

<!ELEMENT alttexturefocus EMPTY>
<!ATTLIST alttexturefocus
    xmlns CDATA #FIXED ''>

<!ELEMENT alttexturenofocus EMPTY>
<!ATTLIST alttexturenofocus
    xmlns CDATA #FIXED ''>

<!ELEMENT usealttexture EMPTY>
<!ATTLIST usealttexture
    xmlns CDATA #FIXED ''>

<!ELEMENT texturebg EMPTY>
<!ATTLIST texturebg
    xmlns CDATA #FIXED ''>

<!ELEMENT textureleft EMPTY>
<!ATTLIST textureleft
    xmlns CDATA #FIXED ''>

<!ELEMENT textureleftfocus EMPTY>
<!ATTLIST textureleftfocus
    xmlns CDATA #FIXED ''>

<!ELEMENT textureright EMPTY>
<!ATTLIST textureright
    xmlns CDATA #FIXED ''>

<!ELEMENT texturerightfocus EMPTY>
<!ATTLIST texturerightfocus
    xmlns CDATA #FIXED ''>

<!ELEMENT textureslidernib EMPTY>
<!ATTLIST textureslidernib
    xmlns CDATA #FIXED ''>

<!ELEMENT textureslidernibfocus EMPTY>
<!ATTLIST textureslidernibfocus
    xmlns CDATA #FIXED ''>

<!ELEMENT imagepath EMPTY>
<!ATTLIST imagepath
    xmlns CDATA #FIXED ''>

<!ELEMENT lefttexture EMPTY>
<!ATTLIST lefttexture
    xmlns CDATA #FIXED ''>

<!ELEMENT righttexture EMPTY>
<!ATTLIST righttexture
    xmlns CDATA #FIXED ''>

<!ELEMENT overlaytexture EMPTY>
<!ATTLIST overlaytexture
    xmlns CDATA #FIXED ''>

<!ELEMENT controloffsetx EMPTY>
<!ATTLIST controloffsetx
    xmlns CDATA #FIXED ''>

<!ELEMENT controloffsety EMPTY>
<!ATTLIST controloffsety
    xmlns CDATA #FIXED ''>

<!ELEMENT align EMPTY>
<!ATTLIST align
    xmlns CDATA #FIXED ''>

<!ELEMENT aligny EMPTY>
<!ATTLIST aligny
    xmlns CDATA #FIXED ''>

<!ELEMENT angle EMPTY>
<!ATTLIST angle
    xmlns CDATA #FIXED ''>

<!ELEMENT aspectratio (#PCDATA)>
<!ATTLIST aspectratio
    xmlns CDATA #FIXED ''>

<!ELEMENT bordersize EMPTY>
<!ATTLIST bordersize
    xmlns CDATA #FIXED ''>

<!ELEMENT bordertexture EMPTY>
<!ATTLIST bordertexture
    xmlns CDATA #FIXED ''
    border CDATA #REQUIRED>

<!ELEMENT disabledcolor EMPTY>
<!ATTLIST disabledcolor
    xmlns CDATA #FIXED ''>

<!ELEMENT fadetime EMPTY>
<!ATTLIST fadetime
    xmlns CDATA #FIXED ''>

<!ELEMENT focusedcolor EMPTY>
<!ATTLIST focusedcolor
    xmlns CDATA #FIXED ''>

<!ELEMENT font EMPTY>
<!ATTLIST font
    xmlns CDATA #FIXED ''>

<!ELEMENT haspath EMPTY>
<!ATTLIST haspath
    xmlns CDATA #FIXED ''>

<!ELEMENT hinttext EMPTY>
<!ATTLIST hinttext
    xmlns CDATA #FIXED ''>

<!ELEMENT info EMPTY>
<!ATTLIST info
    xmlns CDATA #FIXED ''>

<!ELEMENT label EMPTY>
<!ATTLIST label
    xmlns CDATA #FIXED ''>

<!ELEMENT loop EMPTY>
<!ATTLIST loop
    xmlns CDATA #FIXED ''>

<!ELEMENT number EMPTY>
<!ATTLIST number
    xmlns CDATA #FIXED ''>

<!ELEMENT onclick (#PCDATA)>
<!ATTLIST onclick
    xmlns CDATA #FIXED ''>

<!ELEMENT pauseatend EMPTY>
<!ATTLIST pauseatend
    xmlns CDATA #FIXED ''>

<!ELEMENT scroll EMPTY>
<!ATTLIST scroll
    xmlns CDATA #FIXED ''>

<!ELEMENT scrollout EMPTY>
<!ATTLIST scrollout
    xmlns CDATA #FIXED ''>

<!ELEMENT selected EMPTY>
<!ATTLIST selected
    xmlns CDATA #FIXED ''>

<!ELEMENT shadowcolor EMPTY>
<!ATTLIST shadowcolor
    xmlns CDATA #FIXED ''>

<!ELEMENT subtype EMPTY>
<!ATTLIST subtype
    xmlns CDATA #FIXED ''>

<!ELEMENT textcolor EMPTY>
<!ATTLIST textcolor
    xmlns CDATA #FIXED ''>

<!ELEMENT textoffsetx EMPTY>
<!ATTLIST textoffsetx
    xmlns CDATA #FIXED ''>

<!ELEMENT textoffsety EMPTY>
<!ATTLIST textoffsety
    xmlns CDATA #FIXED ''>

<!ELEMENT texture (#PCDATA)>
<!ATTLIST texture
    xmlns CDATA #FIXED ''
    border CDATA #IMPLIED
    flipx CDATA #IMPLIED
    flipy CDATA #IMPLIED>

<!ELEMENT textwidth EMPTY>
<!ATTLIST textwidth
    xmlns CDATA #FIXED ''>

<!ELEMENT timeperimage EMPTY>
<!ATTLIST timeperimage
    xmlns CDATA #FIXED ''>

<!ELEMENT resetonlabelchange EMPTY>
<!ATTLIST resetonlabelchange
    xmlns CDATA #FIXED ''>

<!ELEMENT wrapmultiline EMPTY>
<!ATTLIST wrapmultiline
    xmlns CDATA #FIXED ''>

<!ELEMENT highlightcolor EMPTY>
<!ATTLIST highlightcolor
    xmlns CDATA #FIXED ''>

<!ELEMENT titlecolor EMPTY>
<!ATTLIST titlecolor
    xmlns CDATA #FIXED ''>

<!ELEMENT scrollspeed EMPTY>
<!ATTLIST scrollspeed
    xmlns CDATA #FIXED ''>

<!ELEMENT scrollsuffix EMPTY>
<!ATTLIST scrollsuffix
    xmlns CDATA #FIXED ''>

<!ELEMENT pagecontrol EMPTY>
<!ATTLIST pagecontrol
    xmlns CDATA #FIXED ''>

<!ELEMENT autoscroll EMPTY>
<!ATTLIST autoscroll
    xmlns CDATA #FIXED ''>

<!ELEMENT scrolltime EMPTY>
<!ATTLIST scrolltime
    xmlns CDATA #FIXED ''>

<!ELEMENT focusposition EMPTY>
<!ATTLIST focusposition
    xmlns CDATA #FIXED ''>

<!ELEMENT usecontrolcoords EMPTY>
<!ATTLIST usecontrolcoords
    xmlns CDATA #FIXED ''>

<!ELEMENT itemlayout EMPTY>
<!ATTLIST itemlayout
    xmlns CDATA #FIXED ''>

<!ELEMENT focusedlayout EMPTY>
<!ATTLIST focusedlayout
    xmlns CDATA #FIXED ''>

<!ELEMENT content EMPTY>
<!ATTLIST content
    xmlns CDATA #FIXED ''>

<!ELEMENT action EMPTY>
<!ATTLIST action
    xmlns CDATA #FIXED ''>

<!ELEMENT preloaditems EMPTY>
<!ATTLIST preloaditems
    xmlns CDATA #FIXED ''>

<!ELEMENT radioposx EMPTY>
<!ATTLIST radioposx
    xmlns CDATA #FIXED ''>

<!ELEMENT radioposy EMPTY>
<!ATTLIST radioposy
    xmlns CDATA #FIXED ''>

<!ELEMENT radiowidth EMPTY>
<!ATTLIST radiowidth
    xmlns CDATA #FIXED ''>

<!ELEMENT radioheight EMPTY>
<!ATTLIST radioheight
    xmlns CDATA #FIXED ''>

<!ELEMENT onfocus (#PCDATA)>
<!ATTLIST onfocus
    xmlns CDATA #FIXED ''>

<!ELEMENT onunfocus (#PCDATA)>
<!ATTLIST onunfocus
    xmlns CDATA #FIXED ''>

<!ELEMENT defaultcontrol (#PCDATA)>
<!ATTLIST defaultcontrol
    xmlns CDATA #FIXED ''
    always CDATA #IMPLIED>

<!ELEMENT visible (#PCDATA)>
<!ATTLIST visible
    xmlns CDATA #FIXED ''>

<!ELEMENT animation (#PCDATA)>
<!ATTLIST animation
    xmlns CDATA #FIXED ''
    effect CDATA #IMPLIED
    end CDATA #IMPLIED
    time CDATA #IMPLIED>

<!ELEMENT posx (#PCDATA)>
<!ATTLIST posx
    xmlns CDATA #FIXED ''>

<!ELEMENT posy (#PCDATA)>
<!ATTLIST posy
    xmlns CDATA #FIXED ''>
